@model IEnumerable<AutoServis.ViewModels.KorisniciZaAdminaViewModel>

@{
    ViewBag.Title = "Serviseri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Serviseri</h2>
<hr/>
<div class="form-group">
    <div class="btn btn-default">@Html.ActionLink("Dodaj servisera", "DodajServisera", "Admin")</div>
</div>

<div id ="modul-korisnici">
    @Html.Partial("_Korisnici")
</div>

@section Scripts 
{
    <script src="~/Scripts/admin.js"></script>        
}