@model IEnumerable<AutoServis.ViewModels.KorisniciZaAdminaViewModel>

@{
    ViewBag.Title = "Serviseri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Serviseri</h2>
<hr/>
<div class="form-group">
    <div class="btn btn-default">@Html.ActionLink("Dodaj servisera", "DodajServisera", "Admin")</div>
</div>

<div id ="modul-korisnici">
    @Html.Partial("_Korisnici")
</div>

@section Scripts 
{
    <script>
        
        $(document).ready(function () {
            $("#korisnici").DataTable();
            $(".del").click(Delete);
        });

        function Delete(uloga) {
            var serviserId = $(this).data("korisnik-id");
            var url = "/Admin/Izbrisi/" + serviserId;
            $.ajax({
                method: "POST",
                url: url,
                success: function () {
                    Refresh();
                    alert("Brisanje servisera uspješno.")
                },
                error: function () {
                    alert("Neuspješno brisanje servisera")
                }
            });
        }

        function Refresh() {
            $("#modul-korisnici").load('/Admin/OsvjeziServisere', function () {
                $('#korisnici').DataTable();
                $(".del").click(Delete);
            });
        }

    </script>        
}